.carousel-container {
  width: 100%;
  height: 400px;
  position: relative;
  /* overflow: hidden; */
}

.carousel-slide {
  position: absolute;
  inset: 0;
  /* background-size: cover; */
  background-size: contain;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel-slide.active {
  opacity: 1;
}

@media (max-width: 768px) {
  .carousel-container {
    height: 260px;
  }
}
