.connect-container {
  background: linear-gradient(to bottom, #fffdfd,#ffff, #d4a6a6);
  color: rgb(0, 0, 0);
  min-height: 100vh;
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1200px;
  width: 100%;
}

.connect-card {
  background: #75d4dd;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  border: 1px solid #2a2a2a;
  transition: all 0.3s ease;
  cursor: pointer;
}

.connect-card:hover {
  transform: translateY(-8px);
  border-color: rgb(212, 212, 212);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
}

.company-logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.connect-card:hover .company-logo {
  transform: scale(1.05);
}

.icon-wrapper {
  font-size: 2rem;
  margin-bottom: 15px;
  color: white;
}

.connect-card h2 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.connect-card p {
  font-size: 0.9rem;
  color: #040303;
}

/* Floating icons */
.floating-icon {
  position: fixed;
  bottom: 20px;
  background: white;
  color: black;
  padding: 12px;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: 0.3s ease;
  z-index: 9999;
}

.floating-icon:hover {
  transform: scale(1.1);
  background: #f1f1f1;
}

.left-icon {
  left: 20px;
}

.right-icon {
  right: 20px;
}

.icon-whatsapp {
  background: #25D366;
  color: white;
}

.icon-whatsapp:hover {
  background: #128C7E;
}

.call-icon {
  background: #007BFF;
  color: white;
}