/* src/index.css */

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fafafa;
  color: #fff;
  margin: 0;
  padding: 0;

}

/* Page container */
.main-content {
  flex-grow: 1;
  background-color: #ffffff;
  
}

/* Section titles */
h1, h2, h3 {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Buttons */
button, .btn {
  background: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  padding: 10px 20px;
  transition: 0.3s;
}

button:hover, .btn:hover {
  background: #070606;
  color: #fff;
  border: 1px solid #fff;
  transform: scale(1.05);
}
.back-btn {
  background-color: #000;
  color: #000000 !important;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 10px 25px;
  margin-top: 30px;
  cursor: pointer;
}

.back-btn:hover {
  background: #000000;
  color: #000;
  transform: scale(1.05);
}

/* Fade-in Animation */
.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Responsive text */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}
