.renovations-container {
  background: white;
  min-height: 100vh;
  padding: 80px 20px;
}

.title {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.subtitle {
  color: #ccc;
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto 50px auto;
}

.renovation-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.reno-card {
  background-color: #111;
  border-radius: 20px;
  padding: 30px 20px;
  width: 300px;
  transition: all 0.4s ease;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.05);
}

.reno-card:hover {
  transform: translateY(-10px);
  background-color: #fff;
  color: #000;
}
