/* ===== Reviews Page Styles ===== */
.reviews-section {
  min-height: 100vh;
  background-color: #f3f3f3;
  color: #f0f0f0;
  padding: 100px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews-container {
  max-width: 700px;
  text-align: center;
  background: #111;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

/* Heading */
.reviews-heading {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}

/* Button */
.review-btn {
  background: #fff;
  color: #000;
  border: none;
  padding: 12px 30px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.review-btn:hover {
  background: #000;
  color: #fff;
  border: 1px solid #fff;
}

/* Subheading */
.reviews-subheading {
  margin-top: 40px;
  color: #ccc;
  font-size: 1.2rem;
  font-weight: 500;
}

/* Google Card */
.google-card {
  margin-top: 30px;
  background: #0b0b0b;
  border: 1px solid #333;
  border-radius: 12px;
  padding: 25px;
  text-align: center;

}

.google-card h4 {
  font-size: 1.2rem;
  color: #fff;
}
.google-card img{
  width: 500px;
}

.google-card p {
  color: #aaa;
  margin-top: 8px;
  font-size: 0.95rem;
}

.google-info {
  margin-top: 15px;
  font-style: italic;
  color: #bbb;
}

/* Responsive */
@media (max-width: 600px) {
  .reviews-container {
    padding: 25px;
  }

  .reviews-heading {
    font-size: 1.4rem;
  }

  .review-btn {
    width: 100%;
  }
}
